#div1{background-color: brown;}
#tttg{background-color: rgb(53, 223, 109);}
.link{text-decoration: none;
font-size: 50px;
color: cadetblue;
border: 3px solid rgb(19, 135, 170);
margin: 10px;
padding: 10px;
}